@model IEnumerable<HackathonPMA.Models.Fund>


@{
    ViewBag.Title = "Create";
}

<h2>Fund mapping details</h2>

@using (Html.BeginForm("fundsMapping", "Funds", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table id="tbDetails" class="table">
                <tr>
                    <th>
                        @Html.ActionLink("Name", "Index", new { sortBy = ViewBag.NameSort })
                    </th>
                    <th>
                        @Html.ActionLink("Description", "Index", new { sortBy = ViewBag.DescriptionSort })
                    </th>
                    <th>
                        @Html.ActionLink("Amount", "Index", new { sortBy = ViewBag.AmountSort })
                    </th>
                    <th>
                        Choose Share (%)
                    </th>
                    <th>
                        Amount allocated
                    </th>
                    <th></th>
                </tr>
                
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                            <input type="text" id="inputPerc" />
                        </td>
                        <td>
                            <input type="text" id="inputAmt" />
                        </td>
                    </tr>
                }

            </table>

            @{
    if (Model.Count() <1 )
    {
        <div>Funds are not available.. Please add funds.</div>
    }
    
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="btnAction" id="btnActionSave" value="Save" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
