@model ProjectManagement.Models.Projects

@{
    ViewBag.Title = "Add Project";
}

<h2>Add Project</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Projects</legend>

        <table>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ProjectName)
                    </div>
                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.ProjectName)
                        @Html.ValidationMessageFor(model => model.ProjectName)
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.City)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FundId)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FundId)
                        @Html.ValidationMessageFor(model => model.FundId)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Proirity)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Proirity)
                        @Html.ValidationMessageFor(model => model.Proirity)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Category)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Category)
                        @Html.ValidationMessageFor(model => model.Category)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.StartDate)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.StartDate)
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EndDate)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EndDate)
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </td>
            </tr>

        </table> 

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "DashBoard")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
