@model IEnumerable<HackathonPMA.Models.ApplicationUser>

<h2>Stakeholders</h2>

<p>
    @Html.ActionLink("Register New User", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("FirstName", "ListUsers", new { sortBy = ViewBag.FirstNameSort })
        </th>
        <th>
            @Html.ActionLink("LastName", "ListUsers", new { sortBy = ViewBag.LastNameSort })
        </th>
        <th>
            @Html.ActionLink("UserName", "ListUsers", new { sortBy = ViewBag.UserNameSort })
        </th>
        <th>
            @Html.ActionLink("Gender", "ListUsers", new { sortBy = ViewBag.GenderSort })
        </th>
        <th>
            @Html.ActionLink("City", "ListUsers", new { sortBy = ViewBag.CitySort })
        </th>
        <th>
            @Html.ActionLink("State", "ListUsers", new { sortBy = ViewBag.StateSort })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
            @Html.ActionLink("Details", "DetailUser", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
        </td>
    </tr>
}

</table>
