@using HackathonPMA.Models
@model HackathonPMA.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("shMapping", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>User project mapping</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Role, Model.Roles, "Select...", new { @class = "form-control", @id = "ddlRole" })
        </div>
    </div>
    <input id="selecteduserid" type="hidden" name="hdnUsr" value=""/>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table id="tbDetails" class="table">
                <thead>
                    <tr>
                        <td>FirstName</td>
                        <td>LastName</td>
                        <td>UserName</td>
                        <td>Gender</td>
                        <td>City</td>
                        <td>State</td>
                        <td />
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="btnAction" id="btnActionBack" value="Back" class="btn btn-default  cancel" />
            <input type="submit" name="btnAction" id="btnActionNext" value="Next" class="btn btn-default  cancel" />
            <input type="submit" name="btnAction" id="btnActionSave" value="Finish" class="btn btn-default  cancel" />            
            <input type="submit" name="btnAction" id="btnActionSave" value="Cancel" class="btn btn-default cancel" />            
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {
            $('select#ddlRole').change(function () {
                var roleid = $(this).val();
                //loadings users from database - related to role selecteds
                $.ajax({
                    url: 'LoadUsers',
                    type: 'POST',
                    data: JSON.stringify({ roleid: roleid }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        $("#tbDetails > tbody").html("");
                        for (var i = 0; i < data.length; i++) {
                            $("#tbDetails").append("<tr><td>" + data[i].FirstName + "</td><td>" + data[i].LastName + "</td><td>"
                                + data[i].UserName + "</td><td>" + data[i].Gender + "</td><td>" + data[i].City + "</td><td>" + data[i].State +
                                //"</td><td><input type='checkbox' id='chkshMap' onclick='AddRemoveUser(this," + data[i].Id+ ");' /></td></tr>");
                                "</td><td><input type='checkbox' id='chkshMap' value='" + data[i].Id + "' /></td></tr>");                          

                        }
                        // selecteduserid.value = "";
                        $('#selecteduserid').val("");
                    }
                });
            });
            //Binding click event on dynamic created element
            $(document).on('click', "#chkshMap", function () {              
                var x = this;
                // selecteduserid.value = selecteduserid.value + "#" + x.value;
                $('#selecteduserid').val($('#selecteduserid').val() + "#" + x.value);
            });


            //Binding click event on static elemnts
            $("input#btnActionSave").on('click', function () {
                return chkUsr();          
               
            });
            $("input#btnActionNext").on('click', function () {                
                return chkUsr();
            });

            function chkUsr()
            {
                //if (selecteduserid.value == "") {
                //if ($('#selecteduserid').val() == "") {
                //    alert('Please select user..!');

                //    return false;
                //}
                return true;
            }
        });

        

    </script>
}
